.price-info {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 12px;
  line-height: 1.25;
}
.price-value {
  position: absolute;
  top: 36px;
  left: 40px;
  color: #e10000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 27px;
}
.shipment {
  position: absolute;
  top: 95px;
  left: 40px;
  font-size: 12px;
  width: 218px;
}